@using Order_Board.Data.Models
<div class="row mt-5 mb-2">
    @{
        foreach(Order order in Model.Orders)
        {
            if (User.IsInRole("Customer"))
            {
                @Html.Partial("Customer", order)
            }
            else
            {
                @Html.Partial("Worker", order)
            }
        }
    }
</div>